/*
div {
    width: 200px;
    height: 150px;
    background-color: blue;   
    margin: 10px;
    border: solid;
}
*/
#div1 {
    transition-property: background-color;  /* dire a CCS de surveiller le proprieter backround color et lorsqu'elle changera tu fera une transition qui durera 3s*/
    transition-duration: 3s;
}

#div1:hover {
    background-color: green;
}

#div2 {
    transition-property: background-color width height;
    transition-duration: 3s;
}

#div2:hover {
    background-color: green;
    width: 250px;
    height: 250px;
}

#div3 {
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease; /* permet de choisir la vitesse de trasnformation */
}

#div3:hover {
    transform: translateX(100px);
}

#div4 {
    transition: background-color 3s ease;
}

#div4:hover {
    background-color: yellow;
}

/* transformer un element avec la souris sur un autre element */
#logo{
    transition-property: transform;
    transition-duration: 3s ;
    transition-timing-function: ease;
}

#logo:hover{
    transform: scale(1.2);
}

#heading:hover + #logo
{
    transform: scale(1.2);
}