/*
ul
{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid black;
    border-radius: 10%;
}

li
{
    width: 20%;
    border: 1px solid black;
    border-radius: 10%;


}
*/
/*
#page
{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px ;
    grid-template-rows:  100px  100px 100px  100px ;
}

.item1
{
    grid-column-start: 5 ;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
}

.item2
{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;

}

.item3
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;

}
*/

.item1
{
    display: inline-block;
    border: 1px solid black;
    background: grey;
    position: relative;
    
}

.item1-1
{
    border: 1px solid black;
    position: absolute;
    bottom: 2px;
    right: 10px;
    background: green;
    width: auto;
    z-index: 10;

}
.item2
{
    display:inline-block;
    border: 1px solid blue;
    position: relative;
    top:80px;
    left:-30px;
    background: skyblue;
    z-index: 5;

}
.item3
{
    display: inline-block;
    border: 1px solid red;
    position: relative;
    top:160px;
    left:-70px;
    background: rosybrown;
    z-index: 3;

}