html
{
    text-align: center;
}

p
{
    text-align: left;
}

.dialogue
{
    font-style: italic;
}

#img
{
    border: 5px solid black;
    width: 500px;
}

.photo
{
    border: 5px solid black;
    width: 200px;
}