section h2
{
    background-color: aquamarine;
    margin-bottom: 10px;
    clear: both;
}

img
{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 150px;
    border: 1px solid black;
}

.titreformation
{
    font-weight: bold;
}

#formationname
{
    float: left;
}

.dateformation
{
    float: right;
}