/* J'applique ces style à tout mes élements*/
*
{
    font-family: Arial , Verdana , sans-serif;
    padding: 0;
    margin: 0;
}

/* j'applique ces stye à ma page*/
#page
{
    margin: auto;
    width: 800px;
}

/*j'applique ces style à mon entete*/
header
{
    text-align: center;
    background-repeat: repeat-x;
    background-image: url('https://images4.alphacoders.com/109/109894.jpg')
}

/*j'applique ces style à ma nav*/
nav ul li
{
    list-style: none;
    display: inline;
}

/*j'applique ces style à ma nav et mon ul et leur met un border*/
nav ul 
{
    padding: 3px 0 ;
    margin: 10px 0 10px 0 ;
    border-bottom: 1px solid black;
}

/*j'applique de nouveau des styles à ma nav afin de creer des onglets*/
nav ul li a 
{
    padding: 3px , 0.5em;
    margin-left: 3px;
    border: 1px solid black;
    border-bottom: none;
    background: rgb(162, 170, 180);
    text-decoration: none;
    color: black;
}

/* j'applique ces style au lien de la page en cours pour que l'onglet adequat indique ou nous sommes*/
nav ul li a#actif
{
    background: whitesmoke;
    border-bottom: 1px solid whitesmoke;
}