table
{
    border: 1px solid black;
    border-collapse: separate;
    margin: auto;
}

th
{
    background: blue;
    color: whitesmoke;
    font-weight: bold;
    border: 1px solid black;
    width: 16.6%;

}

td
{
    background: aquamarine;
    border: 1px solid black;
    text-align: center;
    width: 600px;
}

tr
{
    border: 1px solid black;
    width: 600px;
}

#separation td
{
    background: black;
    height: 100px;
}

.htmlcss
{
    background-color: rgb(223, 52, 52);
}

.cv
{
    background-color: blueviolet;
}

.linux
{
    background-color: chartreuse;
}

#legend
{
    border-collapse: separate;
    margin: auto;
    border: none;
    float: left;
}

#legend td
{
    border: none;
    width: 20px;
}

.text
{
    background: none;
    border: none;
}