*
{
    font-family: 'Titillium Web', sans-serif;
}
body
{
    margin: auto;
    width: 50em;
    border: 5px solid black;
}

main
{
    margin: 10px;
}

#contact , #poste , #titre
{
    text-decoration-line: underline;
    font-size: 50px;
    color: black;
}

#champ
{
    font-style: italic;
}