h1
{
	color: #c0392b; 
	font-family: "Times New Roman";
	font-weight: bold;
	text-decoration: underline;
	font-variant: small-caps;
	text-align: center;
}
.container-fluid
{
	    margin-top: 15px;
    margin-bottom: 15px;
	
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    margin-left: 20vw;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
    text-align: center;
    margin-left: 30vw;
    margin-top: 10vw;
}

#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
    height:400px;
}

#chart{
    width: 10vw;
}

#chart2{
    width: 20vw;
    text-align: center;
}

#chartcenter{
    text-align: center;
}

th{
    text-align: left;
}
#Critere{
    text-align: center;
    
}
.col-sm{
    padding: 0;
}

#tableone{
    margin-left: 2vw;
    margin-top: 5vw;
}
#tablegraphique{
    width: 20vw;
    text-align: right;
}