html
{
    background-color: #1793d1;
    text-align: center;
}

body
{
   
    background-color: whitesmoke;
    border: 5px solid black;
    
}

#entete
{
    background-color: whitesmoke;
    border:  solid black;
    
}

p
{
    color : #4d4d4d;
    font-weight: bold;
    font-size: 28px;
}
h2
{
    color:#1793d1;
}